.container{    
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, 200px);    
  }

  .grid-item{
    opacity: 0.2;
    border: 1px solid #4099ff;
    border-radius: 4px;
    box-sizing: border-box;
    background: #f5f5f5;
    color: #fff;
  }

  .orderFormClass{
    position: absolute;
    top: 15vh;
    left: 15vw;
    height: 75vh;
    width: 85vw;
  }